{%extends 'parent.html' %}
{%block Title%}
Login Page
{%endblock%}
{%block Content%}
<h1 class="text-center text-warning my-4">Login</h1>
<div class="d-flex justify-content-center mx-5 p-5 " >
    <form  action='' method="post" style="width:50%;" class="container mx-5 ">
            {%csrf_token%}
     <div class="mb-3">
         <label for="email" class="form-label">Email</label>
                <input class="form-control" type="email" name="email" value="" placeholder="Email" />
     </div>
     <div class="mb-3">
         <label for="password" class="form-label">Password</label>
                <input class="form-control" type="password" name="password" value="" placeholder="Password" />
         {{errormsg}}
     </div>
     <a href="register" class="text-warning">Don't have an account? register</a>
        <input type="submit" value="Login" class="btn btn-warning  my-3 float-end">
        </form>
        </div>
{%endblock%}